.page-container {
    width: 100vw;
    height: 100vh;
    padding-top: 15vw; /* Adjust padding to ensure enough space for header, title, and search bar */
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    overflow: hidden; /* Ensure the main container does not scroll */
}

.fixed-container {
    position: fixed;
    top: 2vw; /* Adjust based on the height of the header */
    left: 0;
    width: 100vw;
    background-color: #fff;
    padding-top: 2vw;
    z-index: 1;
}

.app-title {
    font-family: 'Voces', 'Open Sans', arial, sans-serif;
    font-size: 2vw;
    color: #333; /* Ensure contrast */
    margin: 0 auto; /* Adjust margin */
    width: 60vw;
}

.search-input {
    display: block;
    width: 6vw;
    margin: 2vw auto;
    padding: .6vw;
    border: .1vw solid #ddd;
    border-radius: .5vw;
    font-size: 1vw;
}

.scrollable-container {
    height: 100vh;
    overflow-y: auto; /* Enable vertical scrolling */
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projcard {
    width: 60vw;
    margin: 1vw auto;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .page-container {
        width: 100vw;
        padding-top: 15vw; /* Adjust padding for smaller screens */
    }
    
    .scrollable-container {
        height: calc(100vh - 15vh); /* Adjust height to fill the remaining space */
    }
}
