/* src/css/CompanyCard.css */
.projcard {
    position: relative;
    height: 8vw;
    margin-bottom: 1vw;
    border-radius: 1vw;
    background-color: #fff;
    border: 2px solid #ddd;
    width: 60vw;
    font-size: 1vw;
    overflow: hidden;
    cursor: pointer;
    margin: 0 auto 1vw auto;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.projcard:hover {
    box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
    transform: translate(0px, -3px);
}

.projcard::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 0.07;
}

.projcard-innerbox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.projcard:hover .projcard-bar {
    width: 70vw;
}

.projcard-textbox {
    position: absolute;
    top: 20%;
    bottom: 10%;
    left: 3%;
    right: 3%;
    font-size: 1vw;
    text-decoration: none;
    color: inherit;
}



.projcard:nth-child(2n) .projcard-textbox::before {
    display: none;
}

.projcard-textbox::after {
    display: none;
    left: initial;
    right: -55px;
}

.projcard:nth-child(2n) .projcard-textbox::after {
    display: block;
}

.projcard-textbox * {
    position: relative;
}

.projcard-title {
    font-family: 'Voces', 'Open Sans', arial, sans-serif;
    font-size: 2vw;
}

.projcard-subtitle {
    font-family: 'Voces', 'Open Sans', arial, sans-serif;
    color: #888;
}

.projcard-bar {
    left: -2px;
    width: 50px;
    height: 5px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
}

.projcard-blue .projcard-bar {
    background-color: #0088FF;
}

.projcard-blue::before {
    background-image: linear-gradient(-70deg, #D62F1F, transparent 80%);
}

.projcard-blue:nth-child(2n)::before {
    background-image: linear-gradient(-250deg, #D62F1F, transparent 80%);
}

/* Add this block */
.list-container .projcard {
    width: 100%;
}

.projcard-description {
    z-index: 10;
    font-size: 1vw;
    color: #888888;
    overflow: hidden;
    text-overflow: ellipsis;
}
