.page-container {
    width: 100vw;
    height: 100vh;
    padding-top: 15vw; /* Adjust padding to ensure enough space for header, title, and search bar */
    background-color: #fff;
    border-radius: .5px;
    text-align: center;
    overflow: hidden;  /* Ensure vertical scrolling */
}

.fixed-container {
    position: fixed;
    top: 3vw; /* Adjust based on the height of the header */
    left: 0;
    width: 100vw;
    background-color: #fff;
    padding-top: 2vw;
    z-index: 1;
}

.app-title {
    font-family: 'Voces', 'Open Sans', arial, sans-serif;
    font-size: 2vw;
    color: #333;
    margin: 0 auto;
    width: 60vw;
    text-align: left;
}

.app-desc {
    font-family: 'Voces', 'Open Sans', arial, sans-serif;
    font-size: 1vw;
    color: #888888;
    margin: 1vw auto;
    width: 60vw;
    text-align: left;
}

.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    margin: 1vw auto;
}

.back-arrow {
    font-size: 1vw;
    color: #000000;
    background: none;
    border: none;
    cursor: pointer;
}

.tab-buttons {
    display: flex;
    justify-content: center;
    position: relative;
}

.tab-buttons button {
    margin: 0 1vw;
    padding: 1vw 2vw;
    font-size: 1vw;
    cursor: pointer;
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-details-container {
    
    width: 60vw;
    margin: 1vh auto 1vw auto;
}

.search-input, .projcard, .navigation-bar {
    width: 60vw;
}

@media (max-width: 600px) {
    .page-container {
        width: 100vw;
        padding-top: 15vw; /* Adjust padding for smaller screens */
    }

    
    
    .tab-buttons {
        margin: 1vw auto;
    }
}
