/* src/css/Header.css */
.header-container {
    display: flex;
    align-items: center;
    padding: 2vw;
    background-color: #fff;
    width: auto;
    position: fixed; /* Fix position at the top */
    top: 0;
    left: 0;
    z-index: 2;
}

.logo {
    height: 8vw;
}
